.readingControls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: var(--bs-body-bg);
}

.readingSection {
  margin-bottom: 100px;
}

.rightSectionMobile {
  padding-bottom: 70px;
}